@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "gilroy";
}
*::selection{
       color: rgb(232, 147, 47);
}

input[type="time"]::-webkit-calendar-picker-indicator{
    filter:invert(100%);
  }
  input[type="date"]::-webkit-calendar-picker-indicator{
    filter:invert(100%);
  }

  input[type="text"] {
    border: none;
    outline: none;
     /* You can adjust the color and thickness of the outline */
  }

  textarea:on-focus {
    border: 1px solid grey;
    outline:1px solid grey ;
    
     /* You can adjust the color and thickness of the outline */
  }

